* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    padding: 2.5rem;
    text-align: center;
    margin: 3.125rem auto;
    width: 80%;
    max-width: 37.5rem;
    background-color: lightseagreen;
    border-radius: 1.875rem;
}

li {
    color: lightseagreen;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: white;
    padding: .625rem;
    margin: .5rem;
    border-radius: 1.25rem;
}

li:hover {
    color: white;
    background-color: lightseagreen;
    outline: .0625rem solid white;
    cursor: pointer;
}

h2 {
    color: white;
}

[v-cloak] {
  display: none;
}